.onboarding-container {
    display: flex;
    flex-direction: row-wrap;
    flex-wrap: wrap;
    gap: 2em 1em;
}

mat-form-field#name {
    flex-grow: 3;
    flex-shrink: 1;
    flex-basis: 45%;
}

mat-form-field#familyname {
    flex-grow: 3;
    flex-shrink: 1;
    flex-basis: 45%;
}

mat-form-field#login {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 15%;
}

mat-form-field#email {
    flex-grow: 3;
    flex-shrink: 1;
    flex-basis: 50%;
}
mat-form-field#dob {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 33%;
}
mat-form-field {
    flex-basis: 30%;
}
