form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
    padding: 10px;
}

.span-form {
    grid-column-start: 1;
    grid-column-end: 3;
}

.start-first {
    grid-column: 1;
}
