<mat-card>
    <mat-card-header>
        <mat-card-title>Mitgliederübersicht</mat-card-title>
    </mat-card-header>
    <mat-card-content>
<table matSort mat-table [dataSource]="datasource">
    <ng-container matColumnDef="givenName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header > Vorname </th>
      <td mat-cell *matCellDef="let element"> {{element.givenName}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="state">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
        <td mat-cell *matCellDef="let element"> {{element.state}} </td>
    </ng-container>

    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <ng-container matColumnDef="stateEffective">
        <th mat-header-cell *matHeaderCellDef> Status seit </th>
        <td mat-cell *matCellDef="let element"> {{element.stateEffective | date:'longDate'}} </td>
    </ng-container>

    <ng-container matColumnDef="entryDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Eintrittsdatum </th>
        <td mat-cell *matCellDef="let element"> {{element.entryDate | date:'longDate'}} </td>
    </ng-container>

    <ng-container matColumnDef="exitDate">
        <th mat-header-cell *matHeaderCellDef> Austrittsdatum </th>
        <td mat-cell *matCellDef="let element"> {{element.exitDate | date:'longDate'}} </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-toolbar>

        <mat-form-field subscriptSizing="dynamic">
            <mat-label for="filter">Filtern</mat-label>
            <input matInput type="text" #filterInput id="filter" />
            <button matSuffix mat-icon-button aria-label="Filter zurücksetzen" (click)="filterReset()">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
        <button mat-icon-button aria-label="Export CSV" color="primary" (click)="downloadCsv()">
            <mat-icon>download</mat-icon>
        </button>
        <span class="example-spacer"></span>
        <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]"
                       showFirstLastButtons
                       aria-label="Mitglieder pro Seite"

        >
        </mat-paginator>
        

</mat-toolbar>

    </mat-card-content>
</mat-card>
