<!DOCTYPE html PUBLIC “-//W3C//DTD XHTML 1.0 Transitional//EN” “https://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd”>
<html>
    <head>
        <meta http–equiv=“Content-Type” content=“text/html; charset=UTF-8” />
        <meta http–equiv=“X-UA-Compatible” content=“IE=edge” />
        <meta name=“viewport” content=“width=device-width, initial-scale=1.0 “ />
    </head>
<body>
Hallo {firstname},<br/><br/>

    <p>für Dich wurde soeben ein Zugang zur Mitgliederverwaltung des
        Goldfingers Ultimate Club e.V. angelegt. Die Mitgliederverwaltung
        erlaubt es Dir, deine Daten und deine Mitgliedschaft selbstständig
        zu bearbeiten. Bitte beachte, dass die eingetragenen korrekt
        sein müssen. Es liegt in Deiner Verantwortung, die hinterlegten Daten
        aktuell zu halten.</p>

    <p>Bisher bist Du noch kein Mitglied des Goldfingers Ultimate Club. Das
        wirst Du, nachdem Du unter https://members.goldfingers-potsdam.de
        Deine Daten vollständig ausgefüllt hast.</p>

    <p>Änderungen an deinen Kontaktdaten sind sofort wirksam, änderst Du
hingegen Deinen Mitgliedsstatus, wird die Änderung erst zum
nächsten Quartalswechsel wirksam. Eine Änderung am Mitgliedsstatus
verändert auch den von Dir zu zahlenden Mitgliedsbeitrag. Bei Fragen
        dazu, wende Dich bitte an finanzen@goldfingers-potsdam.de.</p>

    <p>Deine Zugangsdaten lauten:

        <ul><li>Login: {login}</li>
            <li>Passwort: {password}</li>
        </ul></p>

    <p>Nach dem ersten Login, erwarten Dich unmittelbar zwei Aufgaben. Du
musst zum einen dein Passwort ändern und wenn Du das gemacht hast,
Deine E-Mail-Adresse bestätigen. Das gewählte Passwort muss mindestens die
        folgenden Kriterien erfüllen:</p>
    <ul>
        <li>Minimum 12 Zeichen</li>
        <li>1 Zahl</li>
        <li>1 Sonderzeichen</li>
        <li>1 Großbuchstaben</li>
        <li>1 Kleinbuchstaben</li>
        <li>darf nicht Deinem Login oder deiner E-Mailadresse entsprechen</li>
    </ul>

    <p>Für die Bestätigung Deiner E-Mailadresse schickt Dir das System eine
weitere Mail mit einem Link. Die E-Mailadresse muss bei jeder
        Änderung bestätigt werden.</p>

    <p>Du erreichst die Mitgliederverwaltung unter:
        <a href="https://members.goldfingers-potsdam.de/">https://members.goldfingers-potsdam.de/</a></p>

    <p>Möchtest Du dein Passwort ändern, kannst Du das unter:
        <a href="https://login.goldfingers-potsdam.de/realms/guc/account">https://login.goldfingers-potsdam.de/realms/guc/account</a></p>

    <p>Hast Du noch Fragen, dann schreib uns doch bitte eine Mail an:
        <a href="mailto:frisbee@goldfingers-potsdam.de">frisbee@goldfingers-potsdam.de</a> oder sprich uns im Training an. Da wird bestimmt jemand sein, der
        Dir unmittelbar weiterhelfen kann oder der jemanden kennt ...</p>

Viele Grüße<br/>

Der GUC
</body>
</html>
