<h2 mat-dialog-title>Mitgliedschaft kündigen?</h2>
<mat-dialog-content>
    <mat-form-field>
        <mat-label>Zu welchem Datum möchtest Du kündigen?</mat-label>
        <mat-select [(ngModel)]="selectedIndex">
            <mat-option *ngFor="let date of dialogData.allowedCancellationDate; index as i" value="{{i}}">{{date.toLocaleDateString('de-DE')}}</mat-option>
        </mat-select>
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button (click)="cancel()">Abbrechen</button>
    <button mat-raised-button (click)="ok()" [disabled]="selectedIndex == -1">Kündigen</button>
</mat-dialog-actions>
