/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@use 'app/styles/_theme-colors' as guc;

html {
 @include mat.theme((
    color: (
      primary: guc.$primary-palette,
      tertiary: guc.$tertiary-palette,
      theme-type: light
    ),
    typography: Roboto,
    density: 4),
    $overrides: (
      surface-container-low: inherit,
      surface: inherit));
 color-theme: light;
}

body { margin: 0;  }
iframe { border: 0px; }

mat-toolbar, mat-card-actions {
    gap: 0.8em;
}
