name: CI Build backend & ui

on:
  push:
    branches:
    - main

jobs:
  web-ui:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: 18

    - name: Install dependencies
      run: npm ci
      working-directory: web-ui/

    - name: Build
      run: npm run build
      working-directory: web-ui/
      
  backend:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      
    - name: Setup Java 21
      uses: actions/setup-java@v4
      with:
        java-version: 21
        java-package: jdk
        distribution: temurin
        
    - name: Build backend
      run: ./mvnw --no-transfer-progress clean quarkus:build
      working-directory: members-backend/
