name: GitHub Pages

on:
  push:
    branches:
    - main

jobs:
  web-ui:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: 18

    - name: Install dependencies
      run: npm install
      working-directory: web-ui/

    - name: Run tests
      run: npm run test
      working-directory: web-ui/

    - name: Build
      run: npm run build
      working-directory: web-ui/
  backend:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Setup Java 21
      uses: actions/setup-java@v4.4.0
      with:
        java-version: 21
        java-package: jdk
    - name: Build backend
      run: ./mvnw clean quarkus:build
      working-directory: members-backend/
