name: Deploy Frontend

on: workflow_dispatch

jobs:
  web-ui:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: 18

    - name: Install dependencies
      run: npm ci
      working-directory: web-ui/

    - name: Build
      run: npm run release
      working-directory: web-ui/
      
    - name: Create archive
      working-directory: web-ui/dist/guc-members
      run: tar -cf guc-members-web-ui.tar index.html *.css *.js assets

    - name: Deploy archive
      uses: appleboy/scp-action@master
      with:
        host: ${{ secrets.SCP_HOST }}
        username: ${{ secrets.DEPLOY_USER }}
        key: ${{ secrets.SSH_KEY }}
        source: web-ui/dist/guc-members/guc-members-web-ui.tar
        target: ${{ secrets.DEPLOY_DEST_FOLDER }}
